header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
}

.navLinks {
  list-style: none;
  display: flex;
}

.navLinks li {
  margin-right: 20px;
}

.navLinks ion-icon { 
  font-size: 26px;
  cursor: pointer;
}
.navLinks li a {
  text-decoration: none;
  color: #fff;
  
}
